html
  head
    title doc文档~
    style(type="text/css").
      .collapse div{
        display:none;
      }
      .active div{
        display:block;
      }
      li div.route{
        padding-left:30px;
      }
      li div.field{
        padding-left:30px;
      }
      li div.field p{
        padding-left:30px;
      }
    script.
      function itemClick(e){
        e.className=e.className=="collapse"?"active":"collapse"
      }
  body
    h1 文档自动生成
    - for(var i in docs)
      li.collapse(onclick="itemClick(this)")
        article
          hr
          h2 #{docs[i].desc.__title._text}
          h2 #{docs[i].name}
          div.route
            - var routers=docs[i].apis
            - for(var a in routers)
              h3 #{routers[a].__title._text}
              h3 #{routers[a].apiname}
              - var apis=Object.keys(routers[a]).filter(item=>item!='__title'&&item!='apiname'&&item!="response")
              div.field
                - for(var j in apis)
                    h3 #{apis[j]}
                    p #{routers[a][apis[j]]._text}
                - if(routers[a].response)
                  h3 response
                  p=routers[a].response._text